/* PARTIE PAGE PROJETS */

main.Projets{
    width: 95%;
    position: relative;
    margin-top: 1%;
    margin-left: 2%;
    
}

#Projets-NomAccueil{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
#Projets-NomAccueil>p{
    margin-bottom: 1%;
    
}

#Projets-Titre{
    display: flex;
    color: #E63946;;
    justify-content: center;
    align-items: center;
    font-size: 160%;
    font-size: 1.2em;
}

select {
    font-size: 0.9rem;
    padding: 2px 5px;
    background-color: #0d1117;
    color: #50C878;
    border-color: FFD700;
}
  
#outputProjet{
    font-size: 1.7em;
    color: gray;
}
#Projets-bonus {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

label {
  font-size: 2.2em;
  color: #98FF98;
}

#TitreProjet{
    margin-bottom: 0px
}

#langagesUtilises{
    display: flex;
    flex-direction: row;
    align-items: end;
}

#langagesUtilises>h4{
    padding-right: 1.2em;
}

.langage {
    position: relative; 
    width: 3em;     
    height: 2.2em;      
    margin-right: 1em;
    overflow: hidden; 
}

.langage img {
    width: 100%;
    height: 100%;
    transition: filter 1s ease; /* Animation pour le floutage */
}

.langage .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 0.5em;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7); /* Texte lisible sur fond flouté */
    opacity: 0; /* Caché par défaut */
    transition: opacity 0.5s ease; /* Animation pour l'apparition du texte */
    pointer-events: none; /* Évite d'intercepter les événements de la souris */
}

.langage:hover img {
    filter: blur(2px); /* Floute l'image */
}

.langage:hover .overlay-text {
    opacity: 1; /* Rend le texte visible */
}

p {
    color : white;
}
h2{
    color : var(--red-color);
}
h4{
    color : var(--red-color);
}