
/* Contiendra toutes les couleurs utilisées */
:root {
    --red-color: #ff035b;
    --light-blue-color: #04d9ff;
    --dark-blue-color : rgba(30,132,242,0.92);
    --green-color: #37f713;
    --gold-color : #FFD700;

  }

canvas {
    position: fixed; /* Le rendre fixe pour qu'il reste en arrière-plan */
    top: 0;
    left: 0;
    z-index: -1; /* Mettre le z-index à -1 pour qu'il soit en arrière-plan */
}


body{
    /* La couleur de l'arrière plan est défini à l'intérieur du html pour éviter
    un flash blanc au chargement de la page */
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
}
    

div>p.Menu {    
    color: #50C878;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2.2rem;
    text-shadow: 2.2px 2.2px 0 #000, -0.8px -0.8px 0 #000, 0.8px -0.8px 0 #000, -0.8px 0.8px 0 #000, 0.8px 0.8px 0 #000;
     
    
   
    
}

div>p.TitreMenu {    
    color: #50C878;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 20;
    font-size: 3.3rem;
    text-shadow: 2.2px 2.2px 0 #000, -0.8px -0.8px 0 #000, 0.8px -0.8px 0 #000, -0.8px 0.8px 0 #000, 0.8px 0.8px 0 #000;
     
    margin-left: 8%;
    
    margin-bottom: 12.5%;
}



a{
    color: #E63946;
    
    font-size: 1.2em;
    transition: font-size 0.2s ease ;
    
    overflow: hidden;
}

div>a:hover{
    color: #ddd;
    
}



.lienProjet {
    width: 37em;
    margin-top: auto;
    overflow: visible;
}





/*FOOTER */
footer{
    
    width: 85%;
   
    /* param quand le footer était en relative */
    padding-top: 3%;
    margin: 0 auto;
    
}
footer > hr{
    width: 100%;
    justify-content: center;
}
#Footer-Global{
    display: flex;
    justify-content: space-between; /* Écarte les enfants à gauche et à droite */
    align-items: flex-end; /* Aligne les enfants verticalement au centre */
}
#Footer-Content{
    text-align: end;
    

}
#Footer-Content > a {
    display: inline-block;
}

#Footer-Content > p{
    color: #E63946;;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1.2em;
    margin: 0%;
    min-width: 100%;
}

#RESEAUX{
    display: flex;
    justify-content: right;
}

#RESEAUX > a {
    width: 2.2em;
}

#RESEAUX > a > img{
    margin-top: 1%;
    width: 99%;
    transition: 50ms;
    margin-left: 1%;
}
#RESEAUX > a > img:hover{
    margin-top: 0%;
    width: 100%;
    margin-left: 0%;
}

#Footer-Mail > p{
    color: #E63946;;
    font-family: 'Times New Roman', Times, serif;
    
    font-size: 1.2em;
    margin: 0%;
    min-width: 100%;
}



/* POUR LA BARRE DE NAVIGATION */
header {
    
    width: 94%;
    /* display: inline-grid;
    grid-auto-flow : column; */ /* Aligne les éléments en ligne horizontale */ 
    position: fixed;
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
   
    animation: flashing 8s infinite alternate; 
      
    background-clip: padding-box;
    /*background-color: #e8824f; A VOIR SI ON CONSERVE*/
    backdrop-filter: blur(1px);
}


.ul:nth-child(n){
    width: 30%;
}
.nav-links li {
    flex : 1;
    text-align: center; /* Centre le texte dans chaque <li> */
   
}
.navbar a {
    color: #E63946;
    text-shadow:  0.1em 0.1em 0 black, 0 0.1em 0 black; /*    text-shadow: 0.1em 0 0 black, 0.1em 0.1em 0 black, 0 0.1em 0 black, -0.1em 0.1em 0 black, -0.1em 0 0 black, -0.1em -0.1em 0 black, 0 -0.1em 0 black, 0.1em -0.1em 0 black;*/
    text-decoration: none;
    transition: color 0.3s;
    
    font-size: 2.2em;
    display: block;
    width: 100%;
    padding: 1rem;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; 
}
.navbar a:hover {
    color: #ddd;        /* mettre une animation plutôt */
    
}


.nav-links {
    width: 100%;
    display: flex;
    padding: 0;
    list-style : none;
    grid-auto-flow : column; /* Aligne les éléments en ligne horizontale */
    justify-content : space-evenly;
    
    margin : 0;
}

li.pageActive{
    box-shadow: inset 0em 0em 5em aqua;
    
}
li.pageActive > a{
    text-shadow: none;
}

li.pageActive>a:hover {      
    color: #ddd;        /* mettre une animation plutôt avec GSAP*/
    
}
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        display: none;
    }
    .navbar.active .nav-links {
        display: flex;
    }
}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle div {
    width: 1.5rem;
    height: 0.3rem;
    background-color: white;
    margin: 0.3rem 0;
}


@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
}



@keyframes flashing {
    0%{
      box-shadow:
        0 0 0.5em #fff,     /* Offset Ombre externe */
        inset 0 0 0.5em #fff,   /* Offset Ombre interne */
        0 0 1em var(--light-blue-color),    /* Ombre vers le bas */
        inset 0 0 1em var(--dark-blue-color),   /* Ombre interne en bas */
        0 0 0.5em var(--light-blue-color),  /* Ombre externe en bas */
        inset 0 0 2em var(--dark-blue-color);   /* Ombre interne vers le bas */

    }
    50% {        
      box-shadow:
        0 0 0.5em #fff,
        inset 0 0 0.5em #fff,
        0 0 1em var(--dark-blue-color),
        inset 0 0 1em var(--light-blue-color),
        0 0 0.5em var(--dark-blue-color),
        inset 0 0 2em var(--light-blue-color);
    }  
    100%{
        box-shadow:
          0 0 0.5em #fff,
          inset 0 0 0.5em #fff,
          0 0 1em var(--light-blue-color),
          inset 0 0 1em var(--dark-blue-color),
          0 0 0.5em var(--light-blue-color),
          inset 0 0 2em var(--dark-blue-color);
    }  
    
}



@keyframes red-flashing {
    0%{
      box-shadow:
        0 0 0.5em #fff,     /* Offset Ombre externe */
        inset 0 0 0.5em #fff,   /* Offset Ombre interne */
        0 0 1em var(--red-color),    /* Ombre vers le bas */
        inset 0 0 1em var(--gold-color),   /* Ombre interne en bas */
        0 0 0.5em var(--red-color),  /* Ombre externe en bas */
        inset 0 0 2em var(--dark-blue-color);   /* Ombre interne vers le bas */

    }
    50% {        
      box-shadow:
        0 0 0.5em #fff,
        inset 0 0 0.5em #fff,
        0 0 1em var(--gold-color),
        inset 0 0 1em var(--red-color),
        0 0 0.5em var(--gold-color),
        inset 0 0 2em var(--red-color);
    }  
    100%{
        box-shadow:
          0 0 0.5em #fff,
          inset 0 0 0.5em #fff,
          0 0 1em var(--red-color),
          inset 0 0 1em var(--gold-color),
          0 0 0.5em var(--red-color),
          inset 0 0 2em var(--gold-color);
    }  
    
}

/*Ancien flashing
@keyframes flashing {
    0%{
      box-shadow:
        0 0 0.5em #fff,
        inset 0 0 0.5em #fff,
        0 0 1em var(--light-blue-color),
        inset 0 0 1em var(--light-blue-color),
        0 0 2em var(--light-blue-color),
        inset 0 0 2em var(--green-color);

    }
    100% {        
      box-shadow:
        0 0 0.5em #fff,
        inset 0 0 0.5em #fff,
        0 0 1em var(--green-color),
        inset 0 0 1em var(--light-blue-color),
        0 0 2em var(--green-color),
        inset 0 0 2em var(--light-blue-color); 
    }    
}*/