
#Competences{
    width: 82%;
    position: relative;
    margin-top: 5%;
}

.CompetencesCadre{
    display: flex;
    animation: flashing 9s infinite alternate; 
    
    padding : 5vh;
    border-radius: 8px;
}

.CompetencesCadre > h1{
    color: aquamarine;
    padding-right: 2%
}

section.CompetencesCadre > * > p{
    
    padding-left: 2.5em;
    letter-spacing: 0.1vh;
    line-height: 3vh;
    
}

.CompetencesCode{
    line-height: 0.65em;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 5 colonnes -->crée x colonnes avec 3 p à chaque fois, chacune prenant 1 fraction de l'espace disponible*/
    
    box-sizing: border-box;
    
}



h1{
    display: flex;
    color: wheat;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    font-size: 1.5em;
}

p{
    display: flex;
    color: white;
    align-items: center;
    overflow-wrap: break-word;
    font-size: 1.2em;
    text-shadow: 0.1em 0.1em 0 black, 0 0.1em 0 black;
}


strong {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
    text-shadow: 0.1em 0.1em 0 black, 0 0.1em 0 black;
}

.softSkill{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.softSkill > p {
    
    align-self: end;
}



#passions{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.passion {
    position: relative;
    width: 5em;
    height: 5em;
    margin-right: 1em;
    overflow: hidden;
    cursor:pointer;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 0.9em;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7); /* Texte lisible sur fond flouté */
    opacity: 0; /* Caché par défaut */
    transition: opacity 0.5s ease; /* Animation pour l'apparition du texte */
    pointer-events: none; /* Évite d'intercepter les événements de la souris */

}

.passion img {
    width: 100%;
    height: 100%;
    transition: filter 1s ease; /* Animation pour le floutage */
}

.passion:hover img {
   
    filter: blur(2px);
}



.passion:hover .overlay-text {
    opacity: 1; /* Rend le texte visible */
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio : 16/9){
    video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio : 16/9){
    video {
        width: auto;
        height: 100%;
    }
}