/* Contient toutes les modifications qui ne s'appliquent qu'à la page d'accueil */
/* PARTIE PAGE ACCUEIL */
main.Accueil{
    width: 90%;
    display: flex;
    /*background-color: #0d1117; */
    padding-top: 2%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}

#Accueil-HautPage{
    display : flex;    
    justify-content: center;  
    width: 100%;
    gap : 1em;
    flex-direction: column;
}

#Accueil-HautPage>p {    /*Elements communs à l'affichage nom et recherche stage*/
    overflow: hidden;
    max-width: 100%; /* Empêche l'élargissement excessif en largeur */
    max-height: fit-content; /* S'adapte au contenu en hauteur */
    flex-shrink: 0; /* Empêche le rétrécissement */
    flex-grow: 0; /* Empêche l'expansion */
}

#Accueil-HautPage>p:first-child {    /*Affecte l'affichage de mon nom prénom */
    margin-left: 0%;
    padding-right: 8%;
    padding-bottom: 1%;
    display : block;
    
}
#Accueil-HautPage>p:last-child {    /*Affecte l'affichage de ma recherche de stage */
    
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    width: 60%;

}

#Accueil-BasPage{
    box-sizing: border-box;     
    flex-wrap: wrap;  
       
}

div.Accueil{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1.2em;
    width: 100%;
}


/*Animation lorsque l'on survole un des 3 menus disponibles */
.Menu>a {
    transition: all 180ms;
}

.Menu>a:hover {
    color: transparent;
    -webkit-text-stroke-width: 0.05em;
    -webkit-text-stroke-color: white;
}
