canvas {
    position: fixed; /* Le rendre fixe pour qu'il reste en arrière-plan */
    top: 0;
    left: 0;
    z-index: -1; /* Mettre le z-index à -1 pour qu'il soit en arrière-plan */

}


body{
    background-color: #0d1117;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
    

div>p.Menu {    
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1rem;
    text-shadow: 2.2px 2.2px 0 #000, -0.8px -0.8px 0 #000, 0.8px -0.8px 0 #000, -0.8px 0.8px 0 #000, 0.8px 0.8px 0 #000;
    scale: 240%;  
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 10%;
}

div>p.TitreMenu {    
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 3.2rem;
    text-shadow: 2.2px 2.2px 0 #000, -0.8px -0.8px 0 #000, 0.8px -0.8px 0 #000, -0.8px 0.8px 0 #000, 0.8px 0.8px 0 #000;
     
    margin-left: 8%;
    
    margin-bottom: 10%;
}



a{
    color: red;
    
    font-size: 1.2em;
    transition: font-size 0.2s ease ;
    text-decoration: underline;
    overflow: hidden;
}

div>a:hover{
    font-size: 1.3em;
    
}





/* PARTIE PAGE PROJETS */

main.Projets{
    width: 95%;
    position: relative;
    background-color: #0d1117;
    margin-top: 1%;
    margin-left: 2%;
    
}

#Projets-NomAccueil{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
#Projets-NomAccueil>p{
    margin-bottom: 1%;
    
}

#Projets-Titre{
    display: flex;
    color: wheat;
    justify-content: center;
    align-items: center;
    font-size: 160%;
    font-size: 1.2em;
}

select {
    font-size: 0.9rem;
    padding: 2px 5px;
    background-color: #0d1117;
    color: wheat;
    border-color: antiquewhite;
}
  
#outputProjet{
    font-size: 1.7em;
    color: gray;
}
#Projets-bonus {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
#Projets-bonus > h2 {
    display: none;
    
}

#SAE1_03, #SAE1_05_06{
    display: none;
}







/*FOOTER */
footer{
    
    width: 85%;
    position: relative;
    padding-top: 3%;
    margin: 0 auto;
}
footer > hr{
    width: 100%;
    justify-content: center;
}
#Footer-Global{
    display: flex;
    justify-content: space-between; /* Écarte les enfants à gauche et à droite */
    align-items: flex-end; /* Aligne les enfants verticalement au centre */
}
#Footer-Content{
    text-align: end;
    

}
#Footer-Content > a {
    display: inline-block;
}

#Footer-Content > p{
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 380;
    font-size: 1.2em;
    margin: 0%;
}

#RESEAUX{
    display: flex;
    justify-content: right;
}

#RESEAUX > img{
    margin-top: 1%;
    width: 10%;
    transition: 50ms;
}
#RESEAUX > img:hover{
    margin-top: 0%;
    width: 11%;
}

#Footer-Mail > p{
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin: 0%;
}



/* POUR LA BARRE DE NAVIGATION */
header {
    display: inline-grid;
    width: 96%;
    transform: translate(2%, 0%);   /* Place en plein milieu le menu */
    grid-auto-flow : column; /* Aligne les éléments en ligne horizontale */
}

.navbar {
    display: flex;
    align-items: center;
    border-color: aquamarine;
    border: aquamarine 2px solid;
    padding: 1rem;
    background-clip: padding-box;
    /*background-color: #e8824f; A VOIR SI ON CONSERVE*/
    backdrop-filter: blur(1px);
}
.nav-links{
    width: 100%;
    display: flex;
}

.ul:nth-child(n){
    width: 30%;
}
.nav-links li {
    flex : 1;
    text-align: center; /* Centre le texte dans chaque <li> */
}
.navbar a {
    color: wheat;
    text-decoration: none;
    margin: 0 1rem;
    transition: color 0.3s;
    font-weight: 420;
    font-size: 2em;
}
.navbar a:hover {
    color: #ddd;        /* mettre une animation plutôt */
    
}


.nav-links {
    display : inline-grid;
    list-style : none;
    grid-auto-flow : column; /* Aligne les éléments en ligne horizontale */
    justify-content : space-evenly;
    gap : 1em

}

li.pageActive{
    background-color: #e8824f;

}

li.pageActive>a:hover {      
    color: #000;        /* mettre une animation plutôt */
}
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        display: none;
    }
    .navbar.active .nav-links {
        display: flex;
    }
}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle div {
    width: 1.5rem;
    height: 0.3rem;
    background-color: white;
    margin: 0.3rem 0;
}
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
}